body {
    font-family:cursive;
}
body {
    background-color: #ffffff;
}
h2 {
    color:#D57E7E ;
}
h1 {
    color: rgb(255, 0, 0);
}
li {
    color: blueviolet;
}
ul {
    list-style-type: none;
  }